.container {
    top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background: url('../assets/webpack.png');
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}